{:paths   ["src"]

 :deps    {fi.metosin/signaali {:mvn/version "0.1.0"}
           taipei.404/mate     {:git/url "https://github.com/green-coder/mate.git"
                                :git/sha "e553bf33e6b6aef556d6713f9b0db4d13df33345"}}

 :aliases {:dev {:extra-deps {org.clojure/clojure       {:mvn/version "1.12.2"}
                              org.clojure/clojurescript {:mvn/version "1.12.42"}
                              djblue/portal             {:mvn/version "0.61.0"}
                              lambdaisland/deep-diff2   {:mvn/version "2.12.219"}}}

           :test     {:extra-paths ["test" "test-resource"]
                      :extra-deps  {lambdaisland/kaocha           {:mvn/version "1.91.1392"}
                                    lambdaisland/kaocha-cljs      {:mvn/version "1.5.154"}
                                    lambdaisland/kaocha-junit-xml {:mvn/version "1.17.101"}
                                    org.clojure/test.check        {:mvn/version "1.1.1"}
                                    org.clojure/data.json         {:mvn/version "2.5.1"}}}

           ;; clojure -M:outdated --upgrade
           :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "2.11.1276"}}
                      :main-opts  ["-m" "antq.core"]}

           :jar  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
                  :exec-fn      hf.depstar/jar
                  :exec-args    {:sync-pom    true
                                 :group-id    "fi.metosin"
                                 :artifact-id "vrac"
                                 :version     "0.1.1"
                                 :jar         "vrac.jar"}}

           :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.2"}}
                    :exec-fn    deps-deploy.deps-deploy/deploy
                    :exec-args  {:installer :remote
                                 :artifact "vrac.jar"}}}}
